*{  
    margin: 0;
    padding: 0;
}
body {
    background-image: url(images/black.webp);
    background-repeat: none; 
    background-size: cover;   
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
    font-size: 20px;
}

.navbar a {
    color:black;
    display: block;
    height: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.navbar ul {
    display: flex;
}

.navbar li {
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar li:hover .dropdown > li {
    display: block;
    top: 0px;
}

.dropdown li {
    display: none;
    position: relative;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.main2 {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}
.container {
    text-align: center;

}
.flex {
    display: flex;
    gap: 1em;
}